#menubar {
    background: #004080;
    color: white;
    padding: 1 2;
}

.submenu-title {
    background: #303030;
    color: white;
    padding: 1;
}

.submenu-item {
    padding: 1;
}

.selected {
    background: blue;
    color: white;
}
Screen {
    background: #202020;
}
