/* Фон всего приложения */
App {
    background: #000080;
    color: white;
}

/* Верхнее меню */
#menubar {
    background: #0000aa;
    color: white;
    padding: 1 2;
}

/* Выпадающее меню */
.dropdown-menu {
    background: #0000aa;
    border: solid #00ff2f;
    padding: 0 1;
    width: 24;
}

/* Пункты */
.dropdown-item {
    background: #0000aa;
    color: white;
}

.dropdown-item.selected {
    background: #0055ff;
    color: yellow;
}
#content {
    padding: 1 2;
}

.section-title {
    color: yellow;
    text-style: bold;
}

.recommendation {
    color: green;
}
InterfaceDetailsView {
    overflow-y: auto;
}

#left-pane {
    width: 40%;
    padding: 1 2;
}

#right-pane {
    width: 60%;
    padding: 1 2;
}
#details-columns {
    height: auto;
}