/* Фон всего приложения */
App {
    background: blue;
    color: yellow;
}

/* Верхнее меню */
#menubar {
    background: blue;
    color: white;
    padding: 1 2;
}

/* Выпадающее меню */
.dropdown-menu {
    background: blue;
    border: solid yellowgreen;
    padding: 0 1;
    width: 24;
}

/* Пункты */
.dropdown-item {
    background: blue;
    color: white;
}

.dropdown-item.selected {
    background: darkblue;
    color: yellow;
}
#content {
    padding: 1 2;
    
}

.section-title {
    color: yellow;
    text-style: bold;
}

.recommendation {
    color: green;
}
InterfaceDetailsView {
    overflow-y: auto;
}

#left-pane {
    width: 40%;
    padding: 1 2;
}

#right-pane {
    width: 60%;
    padding: 1 2;
}
#details-columns {
    height: auto;
}
/* Контейнер мастера */
#wizard-container {
    layout: vertical;
    padding: 2;
    height: auto;
    width: 100%;
    background: #1e1e4a;
    color: #f0f0f0;
    border: solid #444;       /* ← исправлено */
}

/* Заголовок шага */
#wizard-title {
    width: 100%;
    padding: 1 1;
    background: #2a2a6a;
    color: #fff;
    text-style: bold;
    border-bottom: solid #555;   /* ← исправлено */
}

/* Основной текст */
#wizard-body {
    width: 100%;
    padding: 1 1;
    background: #303080;
    color: #e8e8ff;
    max-height: 10;
    overflow-y: auto; /* включаем скролл внутри body */

}

/* Поле ввода */
#wizard-input {
    margin-top: 1;
    background: #11112a;
    color: #fff;
    border: solid #f00606;      /* ← исправлено */
}

/* Кнопка Далее */
#wizard-next {
    margin-top: 1;
    background: #0044aa;
    color: #fff;
    text-style: bold;
    border: solid #333;      /* ← исправлено */
}
#edit_table {
    width: 100%;
    height: auto;
    
}

.edit-row {
    width: 100%;
    height: 3;

}

.col-q { width: 12; }
.col-wan { width: 20; }
.col-lan { width: 20; }

.edit-row Input {
    width: 12;
    border: solid yellowgreen;
    
}

.edit-row {
    grid-size: 5;
    grid-columns: 4 20 6 6 20;
}
