/* Контейнер выпадающего меню */
.dropdown-menu {
    background: #0000aa;
    border: solid #00ff2f;
    padding: 0 1;
}

/* Пункты меню */
.dropdown-item {
    background: #0000aa;
    color: white;
    width: 100%;
}

/* Выделенный пункт */
.dropdown-item.selected {
    background: #0055ff;
    color: yellow;
}

